body{
	font-family: "Open Sans";
	
}



#wrapper{
	background-image: url("image/dressy.jpg");
	height: 850px;
	text-align: center;
	padding-top: 250px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
	background-attachment:fixed;
	}

	#wrapper h1{
		font-weight: 700;
		font-size: 40px;
		letter-spacing: 3px;
	}

	#wrapper h2{
		font-weight: 400;
		font-size: 25px;
	}

.navbar-default{
	background-color: white;
	color: black;
}


.spacer{
	height: 10em;
}


hr.small {
    max-width: 150px;
}

#concept{
	text-align: center;
}


#concept h2{
	font-weight: 300;

}

#concept h1{
	font-size: 30px;
	font-weight: 400;
}

#commentcamarche{
	text-align: center;
	background-image: url("image/grid.jpg");
}

#commentcamarche h2{
	font-weight: 300;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#commentcamarche p{
	padding-top: 25px;
	padding-bottom: 30px;
	font-weight: 300;
	font-size: 25px;
}

#explain{
	
	background-color: #ff3f5f;
	color: white;
	text-align: center;
	padding-top: 0px;
}

#explain h2{
	font-weight: 300;
	padding-bottom: 2em;
	color: white;
	padding-top: 2em;
}

#explain p{
	padding-top: 1em;
	padding-bottom: 2em;
	font-weight: 300;
	font-size: 15px;
}




.slogan
{
	color: #ff3f5f;
}







